<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>规则格式化工具</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand" style="color:#f3f5f8">规则开发辅助工具箱</a>
        </div>
    </nav>
    <div class="main-container">
        <aside class="sidebar">
            <ul>
                <li><a href="#" onclick="scrollToSection('format-section')">格式化功能</a></li>
                <li><a href="#unformat-section" onclick="scrollToSection('unformat-section')">反格式化功能</a></li>
                <li><a href="#hexencode-section" onclick="scrollToSection('hexencode-section')">Hex编码</a></li>
                <li><a href="#hextostr-section" onclick="scrollToSection('hextostr-section')">Hex转字符串</a></li>
                <li><a href="#tounicode-section" onclick="scrollToSection('tounicode-section')">转Unicode</a></li>
                <li><a href="#fromunicode-section" onclick="scrollToSection('fromunicode-section')">从Unicode转回</a></li>
                <li><a href="#encode_to_hex-section" onclick="scrollToSection('encode_to_hex-section')">编码到Hex</a></li>
                <li><a href="#counttime-section" onclick="scrollToSection('counttime-section')">计算时间</a></li>
                <li><a href="#countsubtime-section" onclick="scrollToSection('countsubtime-section')">计算时间差</a></li>
                <li><a href="#google-search-section" onclick="scrollToSection('google-search-section')">Google搜索</a></li>
        
            </ul>
        </aside>
        <div id="app" class="content">
            <div id="format-section" class="card">
                <h2>格式化功能</h2>
                <div class="input-box">
                    <label for="raw-rule">输入规则:</label>
                    <textarea id="raw-rule" v-model="rawRule" rows="1" cols="50" placeholder="输入规则文本..."></textarea>
                </div>
                <div class="output-box">
                    <label for="result">格式化后的规则:</label>
                    <textarea id="result" v-model="formattedResult" rows="1" cols="50" readonly></textarea>
                </div>
            </div>

            <div id="unformat-section" class="card">
                <h2>反格式化功能</h2>
                <div class="input-box">
                    <label for="unformat-raw-rule">输入规则:</label>
                    <textarea id="unformat-raw-rule" v-model="unformatRawRule" rows="1" cols="50" placeholder="输入规则文本..."></textarea>
                </div>
                <div class="output-box">
                    <label for="unformat-result">反格式化后的规则:</label>
                    <textarea id="unformat-result" v-model="unformattedResult" rows="1" cols="50" readonly></textarea>
                </div>
            </div>

            <div id="hexencode-section" class="card">
                <h2>Hex编码</h2>
                <div class="input-box">
                    <label for="hex-encode-input">输入字符串:</label>
                    <textarea id="hex-encode-input" v-model="hexEncodeInput" rows="1" cols="50" placeholder="Get_Verify_Info(hex_md5(user_string))" ></textarea>
                </div>
                <div class="output-box">
                    <label for="hex-encode-result">输出结果:</label>
                    <textarea id="hex-encode-result" v-model="hexEncodeResult" rows="1" cols="50" placeholder="Get_Verify_Info\x28hex_md5\x28user_string\x29\x29" readonly></textarea>
                </div>
            </div>

            <div id="hextostr-section" class="card">
                <h2>Hex转字符串</h2>
                <div class="input-box">
                    <label for="hex-to-str-input">输入Hex字符串:</label>
                    <textarea id="hex-to-str-input" v-model="hexToStrInput" rows="1" cols="50" placeholder="\x5c\x75\x34\x65\x30\x64\x5c\x75\x36\x62\x36\x33\x5c\x75\x37\x38\x36\x65" ></textarea>
                </div>
                <div class="output-box">
                    <label for="hex-to-str-result">转换结果:</label>
                    <textarea id="hex-to-str-result" v-model="hexToStrResult" rows="1" placeholder="\u4e0d\u6b63\u786e" cols="50" readonly></textarea>
                </div>
            </div>
            
            <div id="tounicode-section" class="card">
                <h2>Unicode编码/解码</h2>
                <div class="input-box">
                    <label for="unicode-input">输入字符串:</label>
                    <textarea id="unicode-input" v-model="unicodeInput" rows="1" cols="50" placeholder="cond|is"></textarea>
                </div>
                <div class="output-box">
                    <label for="unicode-result">输出结果:</label>
                    <textarea id="unicode-result" v-model="unicodeResult" rows="1" cols="50" readonly></textarea>
                </div>
                <div class="input-box">
                    <label for="unicode-flag">编码标志:</label>
                    <div class="select-wrapper">
                        <select id="unicode-flag" v-model="unicodeFlag" class="styled-select">
                            <option value="encode">编码</option>
                            <option value="decode">解码</option>
                        </select>
                    </div>
                </div>
            </div>

            <div id="encode_to_hex-section" class="card">
                <h2>编码到Hex</h2>
                <div class="input-box">
                    <label for="encode-to-hex-input">输入字符串:</label>
                    <textarea id="encode-to-hex-input" v-model="encodeToHexInput" rows="1" cols="50" placeholder="{[&quot;]+&quot;public&quot;" ></textarea>
                </div>
                <div class="output-box">
                    <label for="encode-to-hex-result">输出结果:</label>
                    <textarea id="encode-to-hex-result" v-model="encodeToHexResult" placeholder="\x7b[\x22]\x2b\x22public\x22" rows="1" cols="50" readonly></textarea>
                </div>
                <div class="input-box">
                    <label for="encode-to-hex-flag">编码标志:</label>
                    <div class="select-wrapper">
                        <select id="encode-to-hex-flag" v-model="encodeToHexFlag" class="styled-select">
                            <option value="e">编码</option>
                            <option value="d">解码</option>
                        </select>
                    </div>
                </div>
            </div>

            <div id="counttime-section" class="card">
                <h2>计算时间</h2>
                <div class="input-box">
                    <label for="count-time-input">输入时间 (格式: HH:MM:SS.sss):</label>
                    <textarea id="count-time-input" v-model="countTimeInput" rows="1" cols="50" placeholder="09:41:28.756" ></textarea>
                </div>
                <div class="input-box">
                    <label for="count-time-seconds">增加的秒数:</label>
                    <input type="number" id="count-time-seconds" v-model="countTimeSeconds" placeholder="50">
                </div>
                <div class="output-box">
                    <label for="count-time-result">结果时间:</label>
                    <textarea id="count-time-result" v-model="countTimeResult" placeholder="09:42:28.756000" rows="1" cols="50" readonly></textarea>
                </div>
            </div>

            <div id="countsubtime-section" class="card">
                <h2>计算时间差</h2>
                <div class="input-box">
                    <label for="count-sub-time-input1">输入时间1 (格式: YYYY-MM-DD HH:MM:SS.sss):</label>
                    <textarea id="count-sub-time-input1" v-model="countSubTimeInput1" rows="1" cols="50" placeholder="2024-11-18 15:19:47.787" ></textarea>
                </div>
                <div class="input-box">
                    <label for="count-sub-time-input2">输入时间2 (格式: YYYY-MM-DD HH:MM:SS.sss):</label>
                    <textarea id="count-sub-time-input2" v-model="countSubTimeInput2" rows="1" cols="50" placeholder="2024-11-18 15:19:38.159" ></textarea>
                </div>
                <div class="output-box">
                    <label for="count-sub-time-result">时间差:</label>
                    <textarea id="count-sub-time-result" v-model="countSubTimeResult" placeholder="0:00:09.628000" rows="1" cols="50" readonly></textarea>
                </div>
            </div>

            <div id="google-search-section" class="card">
                <h2>Google 搜索</h2>
                <div class="input-box">
                    <label for="google-query">查询词:</label>
                    <textarea id="google-query" v-model="googleQuery" rows="1" cols="50" placeholder="请输入查询词"></textarea>
                </div>
                <div class="input-box">
                    <label for="google-site-filters">限定词:</label>
                    <!-- <select id="google-site-filters" v-model="googleSiteFilters" multiple>
                        <option value="site:wy.zone.ci">site:wy.zone.ci</option>
                        <option value="site:wooyun.2xss.cc">site:wooyun.2xss.cc</option>
                        <option value="site:wooyun.kieran.top">site:wooyun.kieran.top</option>
                        <option value="site:vip.bdziyi.com">site:vip.bdziyi.com</option>
                    </select> -->
                    <textarea id="google-site-filters" v-model="googleSiteFilters" rows="1" cols="50" placeholder="请输入限定词，例如：site:wy.zone.ci | site:wooyun.2xss.cc" >site:wy.zone.ci | site:wooyun.2xss.cc | site:wooyun.kieran.top |site:vip.bdziyi.com |site:hackingthe.cloud | site:www.tidesec.com | site:tttang.com | site:xz.aliyun.com | site:www.ddosi.org | site:www.t00ls.com | site:w8ay.fun | site:*.ywhack.com | site:forum.butian.net</textarea>
                </div>
                <button @click="googleSearch">搜索</button>
                <div class="output-box" v-if="googleSearchResult">
                    <label for="google-search-result">搜索结果:</label>
                    <p id="google-search-result"><a :href="googleSearchResult" target="_blank">{{ googleSearchResult }}</a></p>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        function scrollToSection(id) {
            const element = document.getElementById(id);
            const offset = 70; // Adjust this value to match the height of your fixed navbar
            const bodyRect = document.body.getBoundingClientRect().top;
            const elementRect = element.getBoundingClientRect().top;
            const elementPosition = elementRect - bodyRect;
            const offsetPosition = elementPosition - offset;

            window.scrollTo({
                top: offsetPosition,
                behavior: 'smooth'
            });
        }

        document.querySelectorAll('textarea').forEach(textarea => {
            textarea.addEventListener('focus', function() {
                this.placeholder = '';
            });
            textarea.addEventListener('blur', function() {
                if (this.value === '') {
                    this.placeholder = this.getAttribute('data-placeholder');
                }
            });
        });
    </script>
</body>
</html>